/*
 * Cobo Wallet as a Service 2.0
 *
 * Contact: help@cobo.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.cobo.waas2.api;

import com.cobo.waas2.ApiCallback;
import com.cobo.waas2.ApiClient;
import com.cobo.waas2.ApiException;
import com.cobo.waas2.ApiResponse;
import com.cobo.waas2.Configuration;
import com.cobo.waas2.Pair;
import com.cobo.waas2.ProgressRequestBody;
import com.cobo.waas2.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.cobo.waas2.model.CreateBatchPayout201Response;
import com.cobo.waas2.model.CreateBatchPayoutRequest;
import com.cobo.waas2.model.ErrorResponse;
import com.cobo.waas2.model.PayoutDetail;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InternalBatchPayoutsApi {
    private ApiClient localVarApiClient;

    public InternalBatchPayoutsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InternalBatchPayoutsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for internalCreateBatchPayout
     * @param createBatchPayoutRequest The request body to create a batch payout. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Infos of a newly initiated payout. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call internalCreateBatchPayoutCall(CreateBatchPayoutRequest createBatchPayoutRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = createBatchPayoutRequest;

        // create path and map variables
        String localVarPath = "/internal/batch_payouts/payouts";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call internalCreateBatchPayoutValidateBeforeCall(CreateBatchPayoutRequest createBatchPayoutRequest, final ApiCallback _callback) throws ApiException {
        return internalCreateBatchPayoutCall(createBatchPayoutRequest, _callback);

    }

    /**
     * Create batch payout
     * This operation creates a batch payout. 
     * @param createBatchPayoutRequest The request body to create a batch payout. (optional)
     * @return CreateBatchPayout201Response
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Infos of a newly initiated payout. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public CreateBatchPayout201Response internalCreateBatchPayout(CreateBatchPayoutRequest createBatchPayoutRequest) throws ApiException {
        ApiResponse<CreateBatchPayout201Response> localVarResp = internalCreateBatchPayoutWithHttpInfo(createBatchPayoutRequest);
        return localVarResp.getData();
    }

    /**
     * Create batch payout
     * This operation creates a batch payout. 
     * @param createBatchPayoutRequest The request body to create a batch payout. (optional)
     * @return ApiResponse&lt;CreateBatchPayout201Response&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Infos of a newly initiated payout. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CreateBatchPayout201Response> internalCreateBatchPayoutWithHttpInfo(CreateBatchPayoutRequest createBatchPayoutRequest) throws ApiException {
        okhttp3.Call localVarCall = internalCreateBatchPayoutValidateBeforeCall(createBatchPayoutRequest, null);
        Type localVarReturnType = new TypeToken<CreateBatchPayout201Response>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create batch payout (asynchronously)
     * This operation creates a batch payout. 
     * @param createBatchPayoutRequest The request body to create a batch payout. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Infos of a newly initiated payout. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call internalCreateBatchPayoutAsync(CreateBatchPayoutRequest createBatchPayoutRequest, final ApiCallback<CreateBatchPayout201Response> _callback) throws ApiException {

        okhttp3.Call localVarCall = internalCreateBatchPayoutValidateBeforeCall(createBatchPayoutRequest, _callback);
        Type localVarReturnType = new TypeToken<CreateBatchPayout201Response>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for internalGetBatchPayout
     * @param payoutId The payout ID. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call internalGetBatchPayoutCall(String payoutId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/internal/batch_payouts/payouts/{payout_id}"
            .replace("{" + "payout_id" + "}", localVarApiClient.escapeString(payoutId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call internalGetBatchPayoutValidateBeforeCall(String payoutId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'payoutId' is set
        if (payoutId == null) {
            throw new ApiException("Missing the required parameter 'payoutId' when calling internalGetBatchPayout(Async)");
        }

        return internalGetBatchPayoutCall(payoutId, _callback);

    }

    /**
     * Get batch payout
     * This operation retrieves details of a specific batch payout. 
     * @param payoutId The payout ID. (required)
     * @return PayoutDetail
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public PayoutDetail internalGetBatchPayout(String payoutId) throws ApiException {
        ApiResponse<PayoutDetail> localVarResp = internalGetBatchPayoutWithHttpInfo(payoutId);
        return localVarResp.getData();
    }

    /**
     * Get batch payout
     * This operation retrieves details of a specific batch payout. 
     * @param payoutId The payout ID. (required)
     * @return ApiResponse&lt;PayoutDetail&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PayoutDetail> internalGetBatchPayoutWithHttpInfo(String payoutId) throws ApiException {
        okhttp3.Call localVarCall = internalGetBatchPayoutValidateBeforeCall(payoutId, null);
        Type localVarReturnType = new TypeToken<PayoutDetail>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get batch payout (asynchronously)
     * This operation retrieves details of a specific batch payout. 
     * @param payoutId The payout ID. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call internalGetBatchPayoutAsync(String payoutId, final ApiCallback<PayoutDetail> _callback) throws ApiException {

        okhttp3.Call localVarCall = internalGetBatchPayoutValidateBeforeCall(payoutId, _callback);
        Type localVarReturnType = new TypeToken<PayoutDetail>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
