/*
 * Cobo Wallet as a Service 2.0
 *
 * Contact: help@cobo.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.cobo.waas2.api;

import com.cobo.waas2.ApiCallback;
import com.cobo.waas2.ApiClient;
import com.cobo.waas2.ApiException;
import com.cobo.waas2.ApiResponse;
import com.cobo.waas2.Configuration;
import com.cobo.waas2.Pair;
import com.cobo.waas2.ProgressRequestBody;
import com.cobo.waas2.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.cobo.waas2.model.CommissionFeeDetail;
import com.cobo.waas2.model.ErrorResponse;
import com.cobo.waas2.model.TransactionRequestTypeParams;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InternalFeeEngineApi {
    private ApiClient localVarApiClient;

    public InternalFeeEngineApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InternalFeeEngineApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getCommissionFee
     * @param requestId Unique request identifier (required)
     * @param businessTypeId  (optional)
     * @param amount Transaction amount in smallest unit (optional)
     * @param chainId Blockchain chain ID (optional)
     * @param tokenId Token ID (optional)
     * @param walletId Wallet ID (optional)
     * @param walletType Wallet type (optional)
     * @param requestType  (optional)
     * @param txCount transaction count (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCommissionFeeCall(String requestId, Long businessTypeId, Long amount, String chainId, String tokenId, String walletId, Integer walletType, TransactionRequestTypeParams requestType, Integer txCount, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/internal/fee_engine/commission_fee";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        if (requestId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("request_id", requestId));
        }

        if (businessTypeId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("business_type_id", businessTypeId));
        }

        if (amount != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("amount", amount));
        }

        if (chainId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("chain_id", chainId));
        }

        if (tokenId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("token_id", tokenId));
        }

        if (walletId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("wallet_id", walletId));
        }

        if (walletType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("wallet_type", walletType));
        }

        if (requestType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("request_type", requestType));
        }

        if (txCount != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("tx_count", txCount));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCommissionFeeValidateBeforeCall(String requestId, Long businessTypeId, Long amount, String chainId, String tokenId, String walletId, Integer walletType, TransactionRequestTypeParams requestType, Integer txCount, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'requestId' is set
        if (requestId == null) {
            throw new ApiException("Missing the required parameter 'requestId' when calling getCommissionFee(Async)");
        }

        return getCommissionFeeCall(requestId, businessTypeId, amount, chainId, tokenId, walletId, walletType, requestType, txCount, _callback);

    }

    /**
     * Get commission fee
     * This operation retrieves commission fee. 
     * @param requestId Unique request identifier (required)
     * @param businessTypeId  (optional)
     * @param amount Transaction amount in smallest unit (optional)
     * @param chainId Blockchain chain ID (optional)
     * @param tokenId Token ID (optional)
     * @param walletId Wallet ID (optional)
     * @param walletType Wallet type (optional)
     * @param requestType  (optional)
     * @param txCount transaction count (optional)
     * @return List&lt;CommissionFeeDetail&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public List<CommissionFeeDetail> getCommissionFee(String requestId, Long businessTypeId, Long amount, String chainId, String tokenId, String walletId, Integer walletType, TransactionRequestTypeParams requestType, Integer txCount) throws ApiException {
        ApiResponse<List<CommissionFeeDetail>> localVarResp = getCommissionFeeWithHttpInfo(requestId, businessTypeId, amount, chainId, tokenId, walletId, walletType, requestType, txCount);
        return localVarResp.getData();
    }

    /**
     * Get commission fee
     * This operation retrieves commission fee. 
     * @param requestId Unique request identifier (required)
     * @param businessTypeId  (optional)
     * @param amount Transaction amount in smallest unit (optional)
     * @param chainId Blockchain chain ID (optional)
     * @param tokenId Token ID (optional)
     * @param walletId Wallet ID (optional)
     * @param walletType Wallet type (optional)
     * @param requestType  (optional)
     * @param txCount transaction count (optional)
     * @return ApiResponse&lt;List&lt;CommissionFeeDetail&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<CommissionFeeDetail>> getCommissionFeeWithHttpInfo(String requestId, Long businessTypeId, Long amount, String chainId, String tokenId, String walletId, Integer walletType, TransactionRequestTypeParams requestType, Integer txCount) throws ApiException {
        okhttp3.Call localVarCall = getCommissionFeeValidateBeforeCall(requestId, businessTypeId, amount, chainId, tokenId, walletId, walletType, requestType, txCount, null);
        Type localVarReturnType = new TypeToken<List<CommissionFeeDetail>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get commission fee (asynchronously)
     * This operation retrieves commission fee. 
     * @param requestId Unique request identifier (required)
     * @param businessTypeId  (optional)
     * @param amount Transaction amount in smallest unit (optional)
     * @param chainId Blockchain chain ID (optional)
     * @param tokenId Token ID (optional)
     * @param walletId Wallet ID (optional)
     * @param walletType Wallet type (optional)
     * @param requestType  (optional)
     * @param txCount transaction count (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCommissionFeeAsync(String requestId, Long businessTypeId, Long amount, String chainId, String tokenId, String walletId, Integer walletType, TransactionRequestTypeParams requestType, Integer txCount, final ApiCallback<List<CommissionFeeDetail>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCommissionFeeValidateBeforeCall(requestId, businessTypeId, amount, chainId, tokenId, walletId, walletType, requestType, txCount, _callback);
        Type localVarReturnType = new TypeToken<List<CommissionFeeDetail>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
